<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third is-centered">
        <h1 class="title has-text-centered">Jelszó generátor</h1>

        <div class="field">
          <label
            >Jelszó hosszúsága
            <input
              class="input"
              type="number"
              [value]="startingNumber"
              (input)="onChangeLength($event.target.value)"
            />
          </label>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseLetters()" type="checkbox" />
              Tartalmazzon kis- és nagybetűket
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseNumbers()" type="checkbox" />
              Tartalmazzon számokat
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseSymbols()" type="checkbox" />
              Tartalmazzon szimbólumokat
            </label>
          </div>
        </div>
        <button
          [disabled]="
            !(length && (includeLetters || includeSymbols || includeNumbers))
          "
          (click)="onSubmit()"
          class="button is-primary is-fullwidth"
        >
          Generálás
        </button>

        <div class="box" *ngIf="password">
          <label>Jelszó</label>
          <input class="input" [value]="password" />
        </div>
      </div>
    </div>
  </div>
</section>
